body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
}

.pokemon-container{
    width: 400px;
    height: 400px;
    background-color: blue;
}

.pokemon-name{
    color: white;
    text-transform: capitalize;
}

.pokemon-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid black;
}